:root {
  --primary-color: #3a31bd;
  --secondary-color: #ffc300;
  --background-color: #fff;
  --header-color: #000;
  --footer-color: #000;
  --link-color: #064d45;
  --link-color-visited: #098072;
  --link-color-active: #cfa08a;
  --primary-font: 'Readex Pro', sans-serif;
  --font-weight-light: 100;
  --font-weight-regular: 400;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 800;
  --font-size-h1: 30px;
  --font-size-h1-small-screen: 22px;
  --font-size-h2: 22px;
  --font-size-h2-small-screen: 18px;
  --font-size-body: 16px;
  --font-size-body-small-screen: 12px;
}

body {
  background-color: var(--background-color);
  font-family: var(--primary-font);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-body);
  line-height: 1.6;
  color: var(--primary-color);
}

.list-group {
  margin-top: 90px;
  margin-bottom: 90px;
  list-style-type: none;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--footer-color);
  position: absolute;
}
